<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <title>Search</title>
</head>
<body>
    <h1>SEARCH</h1>
    <form action="/search" method="get" class="bar" novalidate>
        <input type="file" id="fileInput" style="display: none;" multiple />
        <button id="browseButton" class="upload-button"><i class="fas fa-upload"></i> Upload File</button>
        <input type="text" name="query" placeholder="Search..." class="search-bar">
        <button type="submit" class="search-button"><i class="fas fa-search"></i> Search</button>
    </form>
    <div id="fileCardContainer" class="file-card-container"></div>
    <div id="fileCardTemplate" class="file-card" style="display: none;">
        <h2>Filename</h2>
        <p>File details (optional)</p>
    </div>
    <script src="script.js"></script>
</body>
</html>
