
body {
    margin: 0;
    padding: 10%;
    height: 100%;
    align-items: center;
    background: rgb(2,0,36);
background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgb(217, 217, 217) 0%, rgba(255,255,255,0.22172619047619047) 100%);    font-weight: 400;
    font-style: normal;
}

h1 {
    text-align: center;
}

.search-container {
    transition: top 0.5s ease, transform 0.5s ease;
    width: 100%; /* Ensure it spans the width of the viewport */
    text-align: center; /* Center the content */
}

.top-position {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000; /* Adjust as needed */
    background-color: white;
}

.bar {
    display: flex;
    justify-content: center;
}


.form_holder{
    display:flex;
    flex: 1, 2;
    align-items: center;
    justify-content: center;
}

.upload-form, .search-form{
    margin: 0 10px;
}

.search-bar {
    width: 50vw;
    height: 40px;
    padding: 0 10px;
    border-radius: 50px;
    border: 2px solid #007BFF;
    outline: none;
    font-size: 16px;
    box-sizing: border-box;

}

.search-button {
    padding: 10px, 10px, 10px;
    margin-left: 10px;
    /* Adjust the space between bar and button */
    width: 100px;
    height: 40px;
    border-radius: 10px;
    background-color: #007BFF;
    color: white;
    font-size: 16px;
    cursor: pointer;
    border: none;
    outline: none;
    transition: background-color 0.3s ease;
}

.search-button:hover {
    background-color: #0056b3; /* Darker blue on hover */
}

#voice-button {
    right: 0;
    background: #007BFF;
    /* Adjust color as needed */
    border: 2px;
    border-radius: 50px;
    margin-right: 10px;
}

/* Style the microphone icon */
#voice-button i {
    color: white;
    /* Adjust color as needed */
}

.upload-button {
    height: 40px;
    background: #007BFF;
    margin-right: 10px;
    border: 2px;
    border-radius: 10px;
}

.upload-button:hover {
    background-color: #0056b3;
    /* Darker blue on hover */
}

.file-card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    /* Spacing between file cards */
    margin-top: 20px;
}

.file-card {
    background-color: #ffffff;
    border: 1px solid #ddd;
    padding: 10px;
    margin: 5px;
    border-radius: 5px;
    color: black;
    width: 200px; 
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer; 
}

.file-card:hover {
    transform: scale(1.05); 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
}

.file-card h2 {
    margin: 0;
    font-size: 18px;
}

.file-card p {
    font-size: 14px;
    color: #666;
}

.paragraph-style {
    width: 80%;
    margin: 20px auto;
    padding: 10px;
    font-size: larger;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.paragraph-separator {
    margin-bottom: 30px;
}
